.arrow__ContainerLeft {
  display: flex;
  position: absolute;
  top: 50%;
  left: 2%;
  height: 38px;
  width: 38px;
  border: none;
  outline: none;
  color: black;
  background: white;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: 0.2s;

  &:hover {
    transition: 0.2s;
    background: rgb(228, 228, 228);
  }
  .arrow__image {
    width: 35px;
    transform: translateX(-3px);
    &:focus {
      outline: 0;
    }
  }
}
.arrow__ContainerRight {
  display: flex;
  position: absolute;
  top: 50%;
  right: 2%;
  height: 38px;
  width: 38px;
  outline: none;
  justify-content: center;
  border: none;
  color: black;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  align-items: center;
  transition: 0.2s;
  &:hover {
    transition: 0.2s;
    background: rgb(228, 228, 228);
  }
}
.arrow__arrowIconLeft {
  width: 100%;
  transform: rotate(180deg);
}
.arrow__arrowIconRight {
  width: 100%;
}
