@font-face {
  font-family: "MainFont";
  src: local("MainFont"), url(Roboto-Regular.ttf);
}
@font-face {
  font-family: "SecondaryFont";
  src: local("SecondaryFont"), url(Montserrat-Regular.ttf);
}
@font-face {
  font-family: "navFont";
  src: local("navFont"), url(Oswald-Regular.ttf);
}
