.burger {
  display: none;
  z-index: 2;
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 50px;
  right: 20px;
  justify-content: space-around;
  flex-flow: column nowrap;
}

.burger__lines {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
  transform-origin: 1px;
  transition: all 0.3s linear;
}
.burger__lines_open {
  background-color: #ccc;
  &:nth-child(1) {
    transform: rotate(45deg);
  }
  &:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }
  &:nth-child(3) {
    transform: rotate(-45deg);
  }
}

@media (max-width: 1000px) {
  .burger {
    display: flex;
  }
}
