.collectionItem {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  justify-content: space-between;
  .collectionItem__imageContainer {
    text-decoration: none;
    margin-bottom: 5px;
    color: black;
  }
  .collectionItem__image {
    width: 100%;
  }
  .collectionItem__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    position: relative;
    & .collectionItem__title {
      width: 90%;
      margin-bottom: 5px;
    }
    .collectionItem__subtitle {
      margin-bottom: 5px;
      color: rgb(117, 117, 117);
    }
    .collectionItem__price {
      width: 10%;
    }
  }

  .collectionItem__popup {
    font-size: 18px;
    background: rgb(231, 231, 231);
    color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  .collectionItem {
    width: 45%;
  }
}
@media (max-width: 700px) {
  .collectionItem {
    width: 98%;
  }
}
