@font-face {
  font-family: "MainFont";
  src: local("MainFont"), url(../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "SecondaryFont";
  src: local("SecondaryFont"), url(../assets/fonts/Montserrat-Regular.ttf);
}
