@import "../../../assets/colors/Colors.module.scss";

.catalogue {
  padding: 25px;
  margin: 0px auto;
}

.gridContainer {
  display: grid;
  padding: 5px;
  text-align: center;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: repeat(4, 40vh);
  grid-template-areas:
    "a a b b c c"
    "a a b b c c"
    "d d d e e e"
    "d d d e e e";
}

@media (max-width: 500px) {
  .gridContainer {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 300px);
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d d"
      "e e";
  }
  .catalogue {
    padding: 0px;
  }
}
