@import "../../../global/Colors.module.scss";

.gridBox {
  margin: 10px;
  background-repeat: no-repeat;
  background-position: top;
  height: "100%";
  width: "100%";
  background-size: cover;
  &:hover {
    cursor: pointer;
  }
}

.gridBox {
  background-color: rgb(255, 255, 255);
  position: relative;
}
.title {
  position: left;
  background: white;
  border-radius: 24px;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  position: absolute;
  left: 20px;
  bottom: 20px;

  &:hover {
    background: rgba(255, 255, 255, 0.74);
  }
}
