.collectionPage {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.collectionPage__titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 48px;
}
.collectionPage__title {
  font-size: 24px;
}

.collectionPage__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & .collectionPage__item {
    margin-bottom: 30px;
  }
}
.collectionPage__selectContainer {
  border: none;
  font-size: 18px;

  .collectionPage__select {
    border: none;
    font-size: 18px;

    :first-child {
      display: none;
    }
  }
}
