@import "../../assets/colors/Colors.module.scss";

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px;
  flex-wrap: wrap;
  border-top: 1px solid $border-color;
}
.footer__Container {
  width: 20%;
}
.footer__list {
  text-align: left;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer__link {
  text-decoration: none;
  display: inline-block;
  padding: 12px 0;
  position: relative;
  color: $secondary-color;
}
.footer__link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: $secondary-color;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer__link:hover:after {
  width: 100%;
  left: 0;
}

.footer__imageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footerImage {
  width: 80px;
}

.footerIcons {
  height: 40px;
  transition: 0.3s;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  &:hover {
    background: rgb(255, 255, 255);
    transition: 0.3s;
  }
}

@media (max-width: 720px) {
  .footer__Container {
    width: 40%;
  }
}
